<div class="grid-items-lines">
  <section style="margin-left: 0 auto; !important;">
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <div class="grid-item-contents">
        <div class="grid-item-contents--left">
          <h1>Wider Grid Item</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
        </div>
        <div class="grid-item-contents--right">
          <h1>Right</h1>
        </div>
      </div>
    </a>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </section>
  <section style="margin-left: 0 auto; !important;">
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <div class="grid-item-contents">
        <div class="grid-item-contents--left">
          <h1>Wider Grid Item</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
        </div>
        <div class="grid-item-contents--right">
          <h1>Right</h1>
        </div>
      </div>
    </a>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </section>
  <section style="margin-left: 0 auto; !important;">
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <div class="grid-item-contents">
        <div class="grid-item-contents--left">
          <h1>Wider Grid Item</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
        </div>
        <div class="grid-item-contents--right">
          <h1>Right</h1>
        </div>
      </div>
    </a>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </section>
</div>
